<div class="common-format">
    <div class="page-wrapper mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center">Student Registration</h4>
                        </div>
                        <div class="card-body">
                            
                            <form action="">
                                <h6 class="form-caption">Personal Information</h6>
                                <hr>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="fname">First Name</label>
                                        <input [(ngModel)]="studentRegData.fname" type="text" name="fname" id="fname" class="form-control"/>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="mname">Middle Name</label>
                                        <input [(ngModel)]="studentRegData.mname" type="text" name="mname" id="mname" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="lname">Last Name</label>
                                        <input [(ngModel)]="studentRegData.lname" type="text" name="lname" id="lname" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="fathersName">Father's Name</label>
                                        <input [(ngModel)]="studentRegData.fathersName" type="text" name="fathersName" id="fathersName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="mothersName">Mother's Name</label>
                                        <input [(ngModel)]="studentRegData.mothersName" type="text" name="mothersName" id="mothersName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="dob">Date Of Birth</label>
                                        <input [(ngModel)]="studentRegData.dob" type="date" name="dob" id="dob" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="gender">Gender</label>
                                        <div class="form-control border-0">
                                            <div class="custom-control custom-radio  d-inline-block mr-2">
                                                <input [(ngModel)]="studentRegData.gender" type="radio" class="custom-control-input" name="gender" id="male" value="male"/>
                                                <label for="male" class="custom-control-label">Male</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline-block mr-2">
                                                <input [(ngModel)]="studentRegData.gender" type="radio"  class="custom-control-input" name="gender" id="female" value="female"/>
                                                <label for="female" class="custom-control-label">Female</label>
                                            </div>
                                            <div class="custom-control custom-radio  d-inline-block">
                                                <input [(ngModel)]="studentRegData.gender" type="radio"  class="custom-control-input" name="gender" id="trans" value="trans"/>
                                                <label for="trans" class="custom-control-label">Trans</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="nationality">Nationality</label>
                                        <select [(ngModel)]="studentRegData.nationality" name="nationality" id="nationality" class="form-control">
                                            <option value="Select any Category">Select any Category</option>
                                            <option value="Indian">Indian</option>
                                            <option value="NRI">NRI</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="caste">Caste</label>
                                        <select [(ngModel)]="studentRegData.caste" name="caste" id="caste" class="form-control">
                                            <option value="Select any Category">Select any Category</option>
                                            <option value="UR">UR</option>
                                            <option value="OBC">OBC</option>
                                            <option value="SC">SC</option>
                                            <option value="ST">ST</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="address">Address</label>
                                        <input [(ngModel)]="studentRegData.address" type="text" name="address" id="address" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="city">City</label>
                                        <input [(ngModel)]="studentRegData.city" type="text" name="city" id="city" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="state">State</label>
                                        <input [(ngModel)]="studentRegData.state" type="text" name="state" id="state" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="country">Country</label>
                                        <input [(ngModel)]="studentRegData.country" type="text" name="country" id="country" class="form-control" />
                                    </div>
                                </div>


                                <h6 class="form-caption">Academic Information</h6>
                                <hr>
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Examination</th>
                                            <th>Board/University</th>
                                            <th>Subject</th>
                                            <th>Year</th>
                                            <th>Percentage/Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.ssExamination" type="text" name="ss-examination" id="ss-examination" class="form-control" level="ss" value="Senior Secondary" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.ssBoard" type="text" name="ss-board" id="ss-board" level="ss" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.ssSubject" type="text" name="ss-subject" id="ss-subject" level="ss" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.ssYear" type="text" name="ss-year" id="ss-year" level="ss" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.ssPercentage" type="text" name="ss-percentage" id="ss-percentage" level="ss" class="form-control" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.hsExamination" type="text" name="hs-examination" id="hs-examination" class="form-control" level="hs" value="Higher Secondary" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.hsBoard" type="text" name="hs-board" id="hs-board" level="hs" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.hsSubject" type="text" name="hs-subject" id="hs-subject" level="hs" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.hsYear" type="text" name="hs-year" id="hs-year" level="hs" class="form-control" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input [(ngModel)]="studentRegData.hsPercentage" type="text" name="hs-percentage" id="hs-percentage" level="hs" class="form-control" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="applyFor">Apply For</label>
                                        <select [(ngModel)]="studentRegData.applyFor" name="applyFor" id="applyFor" class="form-control">
                                            <option value="Select any one course">Select any one course</option>
                                            <option value="BA">BA</option>
                                            <option value="BBA">BBA</option>
                                            <option value="BCA">BCA</option>
                                            <option value="BSC">BSC</option>
                                            <option value="MA">MA</option>
                                            <option value="MBA">MBA</option>
                                            <option value="MCA">MCA</option>
                                            <option value="MSC">MSC</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="stream">Stream</label>
                                        <select [(ngModel)]="studentRegData.stream" name="stream" id="stream" class="form-control">
                                            <option value="Select any one stream">Select any one stream</option>
                                            <option value="Computer">Computer</option>
                                            <option value="Maths">Maths</option>
                                            <option value="Biotech">Biotech</option>
                                            <option value="Physics">Physics</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="medium">Medium</label>
                                        <select [(ngModel)]="studentRegData.medium" name="medium" id="medium" class="form-control">
                                            <option value="Select any one medium">Select any one stream</option>
                                            <option value="English">English</option>
                                            <option value="Hindi">Hindi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="centerCity">Center City</label>
                                        <select [(ngModel)]="studentRegData.centerCity" name="centerCity" id="centerCity" class="form-control" >
                                            <!-- <option value="Select any one center city">Select any one center city</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Agra">Agra</option>
                                            <option value="Jaipur">Jaipur</option>
                                            <option value="Indore">Indore</option>
                                            <option value="Mumbai">Mumbai</option> --> 
                                            <ng-container *ngFor="let center of centers">
                                                <option value={{center.centerAddress}}>{{center.centerAddress}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="centerName">Center Name</label>
                                        <select [(ngModel)]="studentRegData.centerName" name="centerName" id="centerName" class="form-control">
                                            <!-- <option value="Select any one center name">Select any one center name</option>
                                            <option value="st xavier college of science">st xavier college of science</option>
                                            <option value="Modern college of computers">Modern college of computers</option>
                                            <option value="Malwa institute of technology and science">Malwa institute of technology and science</option>
                                            <option value="Christient eminent college">Christient eminent college</option>
                                            <option value="Deli college">Deli college</option> -->
                                            <ng-container *ngFor="let center of centers">   
                                                <option *ngIf="center.availableSeats" value={{center.centerName}}>  {{center.centerName}} <span>{{center.availableSeats}}</span></option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>

                                <h6 class="form-caption">Documents</h6>
                                <hr>

                                <div class="form-row">
                                    
                                    <div class="form-group col-md-4">
                                        <label for="photo">Photo</label>
                                        <div class="custom-input-file">
                                            <input [(ngModel)]="studentRegData.photo" type="file" name="photo" id="photo" class="form-control" (change)='getFile($event)' />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="text-right">
                                    <button (click)="studentRegistration()" class="btn btn-info">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                